/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  color: white;
  text-shadow:
          -1px 1px 0 rgba(0, 0, 0, 0.4),
          0 0 5px rgba(255, 255, 255, 0.4),
          0 0 10px rgba(255, 255, 255, 0.3),
          0 0 15px rgba(255, 255, 255, 0.2),
          0 0 20px rgba(0, 0, 0, 0.5),
          0 0 30px rgba(193, 0, 255, 0.5),
          0 0 40px rgba(193, 0, 255, 0.5),
          0 0 55px rgba(193, 0, 255, 0.5),
          0 0 75px rgba(193, 0, 255, 0.5);
  text-align: center;
  position: relative;
  overflow: hidden;
  background: rgb(21,33,107);
  background-image: url(../../static/img/cover.jpeg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.githubStar {
  margin: 0 1rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
}

.subButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width:100%;
    padding: 1.8rem 0;
    position: relative;
    overflow: hidden;
    background: rgba(33,33,34, 1);
}

.discordButton {
    background: #7289da;
    padding: 0.13rem 0.6rem;
    font-size: medium;
    font-weight: bold;
    border-radius: 0.3rem;
    color: #fffdff;
    margin-left: 0.9rem;
}

.discordButton:hover {
    text-decoration: none;
    color: #fffdff;
    background: #687ecb;
}
