@import '@site/src/css/fonts';

.heroBanner {
  height: 725px;
  width: 100%;
  padding: 54px 10px;
  overflow: hidden;
  background: url(@site/static/img/homepage/hero-image.jpg) center top / cover no-repeat;

  h1 {
    @include h2;
    font-size: 120px;
    line-height: normal;
    letter-spacing: -6px;
    margin-left: -10px;
  }

  h2 {
    @include t1;
    max-width: 450px;
    min-height: 60px;
    margin-top: -30px;
    margin-bottom: 32px;
    letter-spacing: 0.1px;
  }

  .buttons {
    height: 50px;
  }

  .linkText {
    @include t2;
    font-family: 'Poppins';
    color: var(--ifm-color-gray-900);
    background-color: var(--ifm-button-background-color);
    min-width: 251px;
    padding: 12px 20px;
    border: 0;
    border-radius: 10px;
  }

  @media only screen and (max-width: 768px) {

    height: 456px;
    padding: 38px 9px;
    background-position-x: left;
    background-position-y: center;

    h1 {
      font-size: 72px;
      line-height: normal;
      letter-spacing: -3.6px;
      margin-left: -6px;
    }

    h2 {
      margin-top: -22px;
      margin-bottom: 21px;
    }
  }

  @media only screen and (max-width: 520px) {
    background-image: url(@site/static/img/homepage/hero-image-mobile.jpg);
  }
}