* @noomorph

# Scripts

*.js @noomorph
*.ts @noomorph
*.sh @noomorph

# Android

detox/android/* @noomorph
detox/test/android/* @noomorph
*.java @noomorph
*.kt @noomorph
*.gradle @noomorph

# iOS

detox/ios/* @markdevocht
detox/test/ios/* @markdevocht
*.h @markdevocht
*.m @markdevocht
*.mm @markdevocht
*.cpp @markdevocht
*.swift @markdevocht
*.pch @markdevocht
*.plist @markdevocht
*.xcodeproj @markdevocht
*.xcworkspace @markdevocht
