* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph @alon-ha

# Android

*.java @d4vidi
*.kt @d4vidi
*.gradle @d4vidi

# iOS

detox/ios/* @alon-ha
detox/test/ios/* @alon-ha
*.h @alon-ha
*.m @alon-ha
*.mm @alon-ha
*.cpp @alon-ha
*.swift @alon-ha
*.pch @alon-ha
*.plist @alon-ha
