* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph @LeoNatan

# Android

*.java @d4vidi
*.kt @d4vidi
*.gradle @d4vidi

# iOS

detox/ios/* @LeoNatan
detox/test/ios/* @LeoNatan
*.h @LeoNatan
*.m @LeoNatan
*.mm @LeoNatan
*.cpp @LeoNatan
*.swift @LeoNatan
*.pch @LeoNatan
*.plist @LeoNatan
