[submodule "detox/ios/SocketRocket"]
	path = detox/ios/SocketRocket
	url = https://github.com/wix-playground/SocketRocket.git
[submodule "detox/ios/DTXLoggingInfra"]
	path = detox/ios/DTXLoggingInfra
	url = https://github.com/wix/DTXLoggingInfra.git
[submodule "detox/ios/fishhook"]
	path = detox/ios/fishhook
	url = https://github.com/facebook/fishhook.git
[submodule "detox/ios/DetoxIPC"]
	path = detox/ios/DetoxIPC
	url = https://github.com/wix/DetoxIPC.git
[submodule "detox/ios/DetoxSync"]
	path = detox/ios/DetoxSync
	url = https://github.com/wix/DetoxSync.git
