[submodule "detox/ios/SocketRocket"]
	path = detox/ios/SocketRocket
	url = https://github.com/facebook/SocketRocket.git
	ignore = dirty
[submodule "detox/ios/EarlGrey"]
	path = detox/ios/EarlGrey
	url = https://github.com/google/EarlGrey.git
	ignore = dirty
[submodule "detox/scripts/Xcodeproj"]
	path = detox/scripts/Xcodeproj
	url = https://github.com/CocoaPods/Xcodeproj.git
	ignore = dirty
[submodule "detox/scripts/Nanaimo"]
	path = detox/scripts/Nanaimo
	url = https://github.com/CocoaPods/Nanaimo.git
	ignore = dirty