#Ignore user-specific settings
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcworkspace
xcuserdata

#Ignore textmate build errors
*.tm_build_errors

#Ignore temp nibs and swap files
*.swp
*~.nib

#Ignore the build, since we don't want archived builds
build

.gitattributes

#Probably don't want to check in xcuserdata
xcuserdata/
*.xcworkspace/

*.orig
.idea

#Ignore the token from the asset update script
*.LastAssetUpdate_*

env/

.build_env/

Frameworks/MerchantShared/DerivedSources/*
!Frameworks/MerchantShared/DerivedSources/Makefile

*.pyc

# Instruments' output during UI Automation test
traces
instrumentscli*.trace

git-cmp

TestResults/*
*/TestResults/*

.clang-format

.bin/
.bundle/
