.alert {
  &--warning {
    background-color: var(--detox-color-y4a);
    border-color: var(--detox-color-y0);
  }

  &--info {
    background-color: var(--detox-color-b4a);
    border-color: var(--detox-color-b0);
  }

  &--danger {
    background-color: var(--detox-color-r4a);
    border-color: var(--detox-color-r0);
  }

  &--secondary {
    background-color: var(--detox-color-u4a);
    border-color: var(--detox-color-u0);
  }

  &--success {
    background-color: var(--detox-color-e4a);
    border-color: var(--detox-color-e0);
  }
}
