@use 'colors';

.alert {
  &--warning {
    background-color: var(--detox-color-warning-bg);
    border-color: var(--detox-color-warning-border);
  }

  &--info {
    background-color: var(--detox-color-info-bg);
    border-color: var(--detox-color-info-border);
  }

  &--danger {
    background-color: var(--detox-color-danger-bg);
    border-color: var(--detox-color-danger-border);
  }

  &--secondary {
    background-color: var(--detox-color-secondary-bg);
    border-color: var(--detox-color-secondary-border);
  }

  &--success {
    background-color: var(--detox-color-success-bg);
    border-color: var(--detox-color-success-border);
  }
}
