// All of the following configs are used in the website and documentation provided by the Design team Glyph

// Colors

@mixin detox-colors($prefix) {
  --#{$prefix}-r0: #f14c52ff;
  --#{$prefix}-y0: #f7ba29ff;
  --#{$prefix}-b0: #3e77e4ff;
  --#{$prefix}-u0: #7633e5ff;
  --#{$prefix}-e0: #3ebf72ff;

  --#{$prefix}-r1a: #f14c5289;
  --#{$prefix}-y1a: #f7ba2989;
  --#{$prefix}-b1a: #3e77e489;
  --#{$prefix}-u1a: #7633e589;
  --#{$prefix}-e1a: #3ebf7289;

  --#{$prefix}-r2a: #f14c5259;
  --#{$prefix}-y2a: #f7ba2959;
  --#{$prefix}-b2a: #3e77e459;
  --#{$prefix}-u2a: #7633e559;
  --#{$prefix}-e2a: #3ebf7259;

  --#{$prefix}-r3a: #f14c5240;
  --#{$prefix}-y3a: #f7ba2940;
  --#{$prefix}-b3a: #3e77e440;
  --#{$prefix}-u3a: #7633e540;
  --#{$prefix}-e3a: #3ebf7240;

  --#{$prefix}-r4a: #f14c5226;
  --#{$prefix}-y4a: #f7ba2926;
  --#{$prefix}-b4a: #3e77e426;
  --#{$prefix}-u4a: #7633e526;
  --#{$prefix}-e4a: #3ebf7226;

  --#{$prefix}-r5a: #f14c5212;
  --#{$prefix}-y5a: #f7ba2912;
  --#{$prefix}-b5a: #3e77e412;
  --#{$prefix}-u5a: #7633e512;
  --#{$prefix}-e5a: #3ebf7212;

  --#{$prefix}-a0: #12161bff;
  --#{$prefix}-a1: #babbbdff;
  --#{$prefix}-a2: #e0e1e1ff;
  --#{$prefix}-a3: #f1f1f1ff;
  --#{$prefix}-a4: #fafafaff;
  --#{$prefix}-a5: #ffffffff;

  --#{$prefix}-p0: #5c25afff;
  --#{$prefix}-p1: #8157c1ff;
  --#{$prefix}-p2: #9876cdff;
  --#{$prefix}-p3: #a789d4ff;
  --#{$prefix}-p4: #b9a1ddff;
  --#{$prefix}-p5: #d3c4e9ff;
}

@mixin ifm-colors($prefix) {
  --#{$prefix}-color-primary: #048fc0;
  --#{$prefix}-color-primary-dark: #253282;
  --#{$prefix}-color-primary-darker: #161360;
  --#{$prefix}-color-primary-darkest: #150a51;
  --#{$prefix}-color-primary-light: #6c43a3;
  --#{$prefix}-color-primary-lighter: #8859c9;
  --#{$prefix}-color-primary-lightest: #9f6de5;
  --#{$prefix}-code-font-size: 95%;
  --#{$prefix}-highlighted-code-line-bg: #d9e5f6;
}

@mixin detox-colors-dark($prefix) {
  --#{$prefix}-highlighted-code-line-bg: #414458;
  --ifm-background-color: #12161b;

  --#{$prefix}-color-a0: #ffffff;
  --#{$prefix}-color-a1: #12161b;
  --#{$prefix}-color-a2: #171b20;
  --#{$prefix}-color-a3: #202429;
  --#{$prefix}-color-a4: #313439;
  --#{$prefix}-color-a5: #575a5d;
}

:root {
  @include detox-colors('detox-color');
  @include ifm-colors('ifm');

  &[data-theme='dark'] {
    @include detox-colors-dark('detox-color');
  }
}

// Fonts

@mixin h1-80 {
  font-family: 'Nunito Sans';
  font-size: 80px;
  font-weight: 400;
}

@mixin h1-96 {
  font-family: 'Nunito Sans';
  font-size: 96px;
  font-weight: 400;
}

@mixin h2-58 {
  font-family: 'Nunito Sans';
  font-size: 58px;
  font-weight: 700;
}

@mixin h2-70 {
  font-family: 'Nunito Sans';
  font-size: 70px;
  font-weight: 700;
}

@mixin h3-40 {
  font-family: 'Nunito Sans';
  font-size: 40px;
  font-weight: 600;
}

@mixin h3-50 {
  font-family: 'Nunito Sans';
  font-size: 50px;
  font-weight: 600;
}

@mixin h4-30 {
  font-family: 'Nunito Sans';
  font-size: 30px;
  font-weight: 700;
}

@mixin h4-40 {
  font-family: 'Nunito Sans';
  font-size: 40px;
  font-weight: 700;
}

@mixin h5-24 {
  font-family: 'Nunito Sans';
  font-size: 24px;
  font-weight: 400;
}

@mixin h5-30 {
  font-family: 'Nunito Sans';
  font-size: 30px;
  font-weight: 400;
}

@mixin t1-20 {
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-weight: 400;
}

@mixin t1-30 {
  font-family: 'Nunito Sans';
  font-size: 30px;
  font-weight: 400;
}

@mixin t2-16 {
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-weight: 400;
}

@mixin t2-26 {
  font-family: 'Nunito Sans';
  font-size: 26px;
  font-weight: 400;
}

@mixin t3-13 {
  font-family: 'Nunito Sans';
  font-size: 13px;
  font-weight: 400;
}

@mixin t3-16 {
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-weight: 400;
}

// Showcase buttons

@mixin showcase-default-btn {
  background: radial-gradient(103.29deg, #7633e6 -14.83%, #5d71e6 102.26%);
  border-radius: 10px;
  width: 217px;
  height: 50px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    background: #7633e5;
    color: #ffffff;
    text-decoration: none;
  }

  &:active {
    background: #5c25af;
    color: #ffffff;
    text-decoration: none;
  }
}

@mixin showcase-store-btn {
  width: 115px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.06);

  &:hover {
    background: #7633e5;
    color: #ffffff;
    text-decoration: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &:active {
    background: #5c25af;
    color: #ffffff;
    text-decoration: none;
  }
}

// Social buttons

@mixin discord-btn {
  width: 141px;
  height: 45px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px; // adjust if needed to fit the image
  color: #ffffff;
  font-size: 13px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  text-align: center;
  letter-spacing: -0.01em;
  text-decoration: none;
  border-radius: 10px;
  background: #718cd8 url('@site/img/discord-figma.svg') no-repeat left center;

  &:hover {
    background: #819ff8 url('@site/img/discord-figma.svg') no-repeat left center;
    color: #ffffff;
    text-decoration: none;
  }

  &:active {
    background: #536baf;
    color: #ffffff;
    text-decoration: none url('@site/img/discord-figma.svg') no-repeat left center;
  }

  span {
    padding-left: 10px; // adjust as needed to separate the text from the image
  }
}

@mixin twitter-btn {
  width: 199px;
  height: 45px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px; // adjust if needed to fit the image
  color: #ffffff;
  font-size: 16px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  background: #1e9eee url('@site/img/twitter-figma.svg') no-repeat left center;

  &:hover {
    background: #43b1f7 url('@site/img/twitter-figma.svg') no-repeat left center;
    color: #ffffff;
    text-decoration: none;
  }

  &:active {
    background: #536baf url('@site/img/twitter-figma.svg') no-repeat left center;
    color: #ffffff;
    text-decoration: none;
  }

  span {
    padding-left: 10px; // adjust as needed to separate the text from the image
  }
}

@mixin github-btn {
  width: 93px;
  height: 45px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px; // adjust if needed to fit the image
  color: #ffffff;
  font-size: 16px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  background: #575a5d url('@site/img/gh-star-figma.svg') no-repeat left center;

  &:hover {
    background: #414c5c url('@site/img/gh-star-figma.svg') no-repeat left center;
    color: #ffffff;
    text-decoration: none;
  }

  &:active {
    background: #272e38 url('@site/img/gh-star-figma.svg') no-repeat left center;
    color: #ffffff;
    text-decoration: none;
  }

  span {
    padding-left: 10px; // adjust as needed to separate the text from the image
  }
}
