@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');

@mixin h1 {
  font: 80px/96px 'Nunito Sans', sans-serif;
}

@mixin h2 {
  font: 700 58px/70px 'Nunito Sans', sans-serif;
}

@mixin h3 {
  font: 600 40px/50px 'Nunito Sans', sans-serif;
}

@mixin h4 {
  font: 700 30px/40px 'Nunito Sans', sans-serif;
}

@mixin h5 {
  font: 600 24px/30px 'Nunito Sans', sans-serif;
}

@mixin t1 {
  font: 400 20px/30px 'Nunito Sans', sans-serif;
}

@mixin t2 {
  font: 300 16px/25px 'Nunito Sans', sans-serif;
}

@mixin t2b {
  font: 600 16px/25px 'Nunito Sans', sans-serif;
}

@mixin t3 {
  font: 400 13px/20px 'Nunito Sans', sans-serif;
}