[data-theme='dark'] .navbar {
  background-color: #12161b;
}

.navbar__link {
  margin-right: 10px;
  font-weight: 300;
}

.navbar__link--active {
  text-decoration: none;
  color: var(--ifm-navbar-link-color);
  font-weight: var(--ifm-font-weight-semibold);
}

.navbar__item {
  padding: 5px;
  font-weight: 300;
}

[data-theme='dark'] .navbar__item {
  padding: 5px;
  font-weight: 300;
}
/*===========*/

/* Restyle gamburger button */

.navbar__toggle {
  width: 40px;
  height: 40px;
  background-color: var(--detox-color-a3);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

/* Restyle search button */

@media (max-width: 769px) {
  button.DocSearch-Button {
    background-color: var(--detox-color-a3);
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
  }
  button.DocSearch-Button svg {
    opacity: 60%;
  }
}
