// Showcase buttons

@mixin showcase-default-btn {
  background: radial-gradient(103.29deg, #7633e6 -14.83%, #5d71e6 102.26%);
  border-radius: 10px;
  width: 217px;
  height: 50px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    background: #7633e5;
    color: #ffffff;
    text-decoration: none;
  }

  &:active {
    background: #5c25af;
    color: #ffffff;
    text-decoration: none;
  }
}

@mixin showcase-store-btn {
  width: 115px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.06);

  &:hover {
    background: #7633e5;
    color: #ffffff;
    text-decoration: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &:active {
    background: #5c25af;
    color: #ffffff;
    text-decoration: none;
  }
}
