@import 'config';

@import 'admonitions';
@import 'benefits-section';
@import 'footer-socials';
@import 'footer';
@import 'header-github';
@import 'navbar';
@import 'showcase-link';
@import 'showcase-section';
@import 'markdown';

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
