.searchWrapper {
  padding: var(--ifm-navbar-item-padding-vertical) var(--ifm-navbar-item-padding-horizontal);
  margin-left: 10px;

  @media (max-width: 768px) {
    padding: 0;
    margin: 0;

    right: 64px;
  }
}