{
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["node"],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "globals": {
    "fail": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-case-declarations": "off",
    "no-constant-condition": "warn",
    "no-unsafe-negation": "warn",
    "no-useless-escape": "warn",
    "no-debugger": "error",
    "no-empty": "off",
    "no-undef": "warn",
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "no-mixed-spaces-and-tabs": "error",
    "node/no-unpublished-require": "warn"
  }
}
