<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-02-12T15:16:24Z</date>
	<key>WorkspacePath</key>
	<string>/Users/lnatan/Desktop/Code/detox/detox/ios/Detox.xcodeproj</string>
</dict>
</plist>
