.subHeader {
  background-color: #171b20;
  padding: 10px 0;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subText {
  padding-top: 5px;
}

.discordButton {
  background-color: #7289da;
  background-image: url(@site/static/img/homepage/join-us-white.svg);
  background-repeat: no-repeat;
  background-size: 76% 76%;
  background-position: 50% 62%;
  display: flex;
  align-items: center;
  height: 30px;
  width: 6rem;
  border-radius: 0.3rem;
  margin-right: 20px;
  margin-top: 7px;
  cursor: pointer;
  border-width: 0;
}

.discordButton:hover {
  background-color: #819ff8;
  transition: transform 0.25s ease-in-out;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.twitterFrame {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 5px;
}

.githubLogo {
  display: flex;
  width: 93px;
  height: 45px;
  background-image: url(@site/static/img/homepage/gh-star-figma.svg);
  height: 45px;
  width: 93px;
}

.githubLogo:hover {
  background-color: #414c5c;
  color: #ffffff;
  transition: transform 0.25s ease-in-out;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.githubStar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(@site/static/img/homepage/github-star-figma.svg);
  background-repeat: no-repeat;
  background: #414c5c;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 7px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  height: 35px;
  width: 57px;
  position: relative;
  margin: 6px 0 0 10px;
}

.githubStar:hover {
  background-color: #414c5c;
  color: #ffffff;
  transition: transform 0.25s ease-in-out;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

// .ghTriangle {
//   background-image: url(@site/static/img/homepage/gh-triangle.svg);
//   position: absolute;
//   width: 6px;
//   height: 8px;
//   background: #23272f;
//   left: 50%;
//   transform: translateX(-50%);
//   bottom: -4px;
//   margin-left: 5px;
// }

// .col--8.flex-jc-fe {
//   display: flex;
//   align-items: center;
// }

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .twitterFrame {
    display: block;
    width: 100%;
    float: none;
  }
}
