.subHeader {
  background-color: #171b20;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  width: 100%;
  min-height: 85px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 var(--ifm-spacing-horizontal);
}

.callToAction {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 10px;
}

.socialNetworks {
  display: flex;
  align-items: center;
  margin: 5px 25px 5px 0;
}

.discordButton {
  background-color: #718CD8;
  background-image: url(@site/static/img/homepage/join-us-on-disc.svg);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 45px;
  width: 141px;
  border-radius: 10px;
  cursor: pointer;
  border-width: 0;
}

.discordButton:hover {
  background-color: #819ff8;
  transition: transform 0.25s ease-in-out;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.twitterButton {
  background-image: url(@site/static/img/homepage/follow-in-twitter.svg);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 45px;
  width: 199px;
  border-radius: 10px;
  margin-right: 4px;
  cursor: pointer;
  border-width: 0;
}

.twitterCounter {
  width: 119px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--primary-dark-a-4, #313439);
  color: #FFF;
  font-size: 16px;
  line-height: 25px;
}



.githubButton {
  background-image: url(@site/static/img/homepage/github.svg);
  height: 45px;
  width: 93px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-right: 4px;
  cursor: pointer;
}

.githubCounter {
  width: 57px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--primary-dark-a-4, #313439);
  color: #FFF;
  font-size: 16px;
  line-height: 25px;
}

.arrow {
  background-image: url(@site/static/img/homepage/arrow.svg);
  width: 6px;
  height: 8px;
  flex-shrink: 0;
}


@media (max-width: 740px) {

  .subHeader {
    padding: 20px 0 20px 24px;
  }

  .callToAction {
    font-size: 18px;
    line-height: 24px;
  }

  .discordButton {
    background-image: url(@site/static/img/homepage/mobile-discord.svg);
    height: 45px;
    width: 45px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .twitterButton {
    background-image: url(@site/static/img/homepage/mobile-twitter.svg);
    height: 45px;
    width: 45px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .githubButton {
    background-image: url(@site/static/img/homepage/mobile-github.svg);
    height: 45px;
    width: 45px;
    border-radius: 10px;
  }

  .twitterCounter,
  .githubCounter,
  .arrow {
    display: none;
  }
}