<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-03-14T12:18:53Z</date>
	<key>WorkspacePath</key>
	<string>/Users/rotemm/git/github/detox/demo-native-ios/NativeExample.xcodeproj</string>
</dict>
</plist>
