@import '@site/src/css/fonts';

.featuresGap {
  --ifm-col-width: calc(4 / 12 * 100%);
  margin-bottom: 89px;
  padding-left: 14px;

  @media only screen and (max-width: 996px) {
    --ifm-col-width: 50%;
  }

  @media only screen and (max-width: 500px) {
    --ifm-col-width: 100%;
  }
}

.featureImage {
  height: 60px;
  width: 60px;
  margin-bottom: 18px;
}

.featureTitle {
  @include h5;
  margin-bottom: 14px;
  letter-spacing: -0.2px;
}

.featureText {
  @include t2;
  max-width: 250px;
}