@import '@site/src/css/fonts';

.featuresGap {
  margin-bottom: 89px;
  padding-left: 14px;
}

.featureImage {
  height: 60px;
  width: 60px;
  margin-bottom: 18px;
}

.featureTitle {
  @include h5;
  margin-bottom: 14px;
  letter-spacing: -0.2px;
}

.featureText {
  @include t2;
  max-width: 250px;
}