@import '@site/src/css/fonts';

.featuresContainer {
  margin-bottom: 24px;
}

.benefitsHeader {
  @include h2;
  color: var(--ifm-heading-color);
  margin-top: 135px;
  margin-bottom: 104px;
  margin-left: -5px;
}