.benefitsHeader {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: #131419;
  margin-top: 125px;
  margin-bottom: 125px;
  margin-left: -5px;
}

[data-theme='dark'] .benefitsHeader {
  color: #ffffff;
}
