@import '@site/src/css/fonts';

.benefitsHeader {
  margin-bottom: 24px;

  @media only screen and (max-width: 1200px) {
    --ifm-spacing-horizontal: 1.625rem;
  }
}

.benefitsTitle {
  @include h2;
  color: var(--ifm-heading-color);
  margin-top: 136px;
  margin-bottom: 104px;
  margin-left: -5px;

  @media only screen and (max-width: 500px) {
    font-size: 40px;
    margin-top: 47px;
    margin-bottom: 30px;
  }
}