name: Broken Links Scan

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  remark:
    name: Remark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - uses: bahmutov/npm-install@v1
        with:
          useLockFile: false
      - run: npx remark -r .remarkrc.nightly.mjs .
