name: Doclint

on:
  push:
    branches: [master]
    paths:
      - '.github/workflows/docs.yml'
      - '.markdownlintrc'
      - '.remarkignore'
      - '.remarkrc.mjs'
      - '.retext-spell.dic'
      - 'package.json'
      - 'docs/**'
      - '**.md'
  pull_request:
    branches: [master]
    paths:
      - '.github/workflows/docs.yml'
      - '.markdownlintrc'
      - '.remarkignore'
      - '.remarkrc.mjs'
      - '.retext-spell.dic'
      - 'package.json'
      - 'docs/**'
      - '**.md'

jobs:
  markdownlint:
    name: Markdown
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Enable Corepack
        run: corepack enable
      - name: Security check (npq)
        run: npx npq@3.14.0 install --pkgMgr yarn --dry-run
      - name: Install dependencies
        run: yarn install --immutable
      - run: yarn docs:lint
