name: Website

on:
  pull_request:
    branches: [master]
    paths:
      - '.github/workflows/website.yml'
      - 'docs/**'
      - 'website/**'
  push:
    branches: [master]
    paths:
      - '.github/workflows/website.yml'
      - 'docs/**'
      - 'website/**'

jobs:
  checks:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            website:
              - 'website/**'
      - name: Test Build
        working-directory: ./website
        run: |
          npm i
          npm run build
      - name: Run Percy Snapshot
        working-directory: ./website
        if: steps.changes.outputs.website == 'true'
        run: npm run percy
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
  gh-release:
    if: github.event_name != 'pull_request'
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
      - name: Release to GitHub Pages
        env:
          USE_SSH: true
          GIT_USER: git
        run: |
          git config --global user.email "mobile1@wix.com"
          git config --global user.name "mobilewix"
          cd website/
          npm i
          npm run build
          npm run percy
          npx docusaurus deploy
