name: Website

on:
  pull_request:
    branches: [master]
    paths:
      - '.github/workflows/website.yml'
      - 'docs/**'
      - 'website/**'
  push:
    branches: [master]
    paths:
      - '.github/workflows/website.yml'
      - 'docs/**'
      - 'website/**'

jobs:
  checks:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Enable Corepack
        run: corepack enable
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            website:
              - 'website/**'
      - name: Security check (npq)
        working-directory: ./website
        run: npx npq@3.14.0 install --pkgMgr yarn --dry-run
      - name: Install and build
        working-directory: ./website
        run: |
          yarn install
          yarn build
  gh-release:
    if: github.event_name != 'pull_request'
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Enable Corepack
        run: corepack enable
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
      - name: Security check (npq)
        working-directory: ./website
        run: npx npq@3.14.0 install --pkgMgr yarn --dry-run
      - name: Release to GitHub Pages
        env:
          USE_SSH: true
          GIT_USER: git
        run: |
          git config --global user.email "mobile1@wix.com"
          git config --global user.name "mobilewix"
          cd website/
          yarn install
          yarn build
          yarn docusaurus deploy
  performance:
    needs: gh-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: mkdir -p ${{ github.workspace }}/tmp/artifacts
      - name: Lighthouse
        uses: foo-software/lighthouse-check-action@master
        with:
          urls: 'https://wix.github.io/Detox/,https://wix.github.io/Detox/docs/next/demo/'
          outputDirectory: ${{ github.workspace }}/tmp/artifacts
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Lighthouse reports
          path: ${{ github.workspace }}/tmp/artifacts
